.formatted-xml {
  font-size: 13px;
}


.xml-node {
  cursor: pointer;
}
.xml-children {
  display: none;
  margin-left: 20px;
}
.xml-node.collapsible::before {
  content: '▶';
  display: inline-block;
  margin-right: 5px;
}
.xml-node.collapsible.expanded::before {
  content: '▼';
}
.xml-node.collapsible + .xml-children {
  display: none;
}
.xml-node.collapsible.expanded + .xml-children {
  display: block;
}
.highlight {
  background-color: yellow!important; /* Highlight color for search results */
}
